body {

    max-width: 1500px;

    margin: 0 auto;

    background-color: #000000;
    color: #ffffff;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 18px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

}

.header {
    width: 100%;
    height: 50px;

}

.header__nav {

    margin: 2%;
}

.list {
    color: #c9c5c5ae;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;

}
.list-item:hover, .grid:hover {

    cursor: pointer;
    border: 3px rgba(146, 58, 131, 0.188) solid;
    transition: 0.5s;
    background-color: #f0f0f099;
    padding: 20px;
    border-radius: 0;
}
p {
   color: #f0f0f0cd;
   display: flex;
   justify-content: center;
}
a {
    text-decoration: none;
    color: #F0F0F0;

}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 30px;
}

.table * {
    margin-bottom: 10px;
    border: 2px rgba(146, 58, 131, 0.22) solid;
    border-radius: 10px;
    padding: 10px 10px;
    background-color: transparent;
    text-align: center;

    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.calendar__head {
    margin-bottom: 30px;
}


.hour, .month, .day, .year {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f0f0f00c;

}

.table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;

}

/* section two  */

.qimen__table {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    gap: 20px;


    background-color: #f0f0f00c;
    border: 2px rgba(146, 58, 131, 0.22) solid;
    border-radius: 10px;
    padding: 10px 10px;

    margin-bottom: 10px;
}

.grid {
    margin: 10px;
    background-color:  #f0f0f022;
}

.arrow-left, .arrow-right {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 0px 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

}

.switch-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


.arrow-left:hover,.arrow-right:hover {
    cursor: pointer;
    border: 3px rgba(146, 58, 131, 0.188) solid;

    transition: 0.5s;
    background-color: #f0f0f099;
}

.head-qimen {
    margin-bottom: 20px;
}

.telegram {
    font-size: 0.8rem;

}
