

@font-face {
    font-family: "Marske";
    src: local("Marske"),
        url("../fonts/Marske.ttf") format("truetype"),
        url("../fonts/Marske.otf") format("opentype");
}


html {
    font-size: 10px;
    font-family: "Marske", Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    letter-spacing: 2px;
}

.violet-color {
    color: #8c00ffdf;
}
    body {

        max-width: 1500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        background-color: #0C0016;


        color: #ffffff;


     font-size: 1.6rem;

}

/* header  */

.header {
    width: 100%;
    height: 30px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 10px;
    margin-bottom: 100px;
}
/* wrapper */

.header__wrapper {
    height: ;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;


    }

/* navigation  */
.header__nav {
    max-width: 450px;
    margin-right: 80px;
    max-height: 30px;

}

.discuss > a {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.discuss > p {
    margin: 0;
    margin-left: 40px;
}

.icon {
    margin-right: 10px;
}


.list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 0px;
    font-size: 1.6rem;

}

.list-item {

  padding: 7%;

  border: 1px solid;
  border-image: linear-gradient(to top right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  border-image-slice: 3;
  border-radius: 15px;


}

.discuss {
    max-width: 450px;
    font-size: 1.2rem;
}

.discuss:hover {
    text-shadow: #660095a2 4px -3px 4px;
    cursor: pointer;

    transition: 0.4s;

}


.list-item:hover {

    text-shadow: #660095a2 4px -3px 4px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.4s;
    border-radius: 15px;
    transform: scale(1.3);

}



p {
    margin: 0;
}

.discuss__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}


p {
   display: flex;
   justify-content: center;
}
a {
    text-decoration: none;
    color: #ffffff;

}

.icon {
    margin: 0;
    padding: 0;
    display: inline;
    width: auto;
    padding: 0px;
    height: auto;

}
/* section calendar */

main {
    margin: 0 auto;
    margin-bottom: 100px;

}
/* table of heaven and earth */


.calendar__head {
    display: flex;
    justify-content: center;

    margin-bottom: 30px;

}

.table  {

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    background-color: transparent;
    text-align: center;
    gap: 15px;

    font-size: 1.8rem;

}


.table > div * {
    border: 0.5px solid;
    border-image: linear-gradient(to top right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    border-image-slice: 4;
    border-radius: 15px;
    background-color: transparent;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;


}







/* section two

.qimen__table {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: auto;
    gap: 5px;
    background-color: #f0f0f00c;
    border: 2px rgba(146, 58, 131, 0.22) solid;
    border-radius: 10px;
    position: relative;
}

.grid {
    margin: 10px;
    background-color:  #f0f0f022;
}

.arrow-left, .arrow-right {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.switch-button {
    display: flex;
    justify-content: center;
    align-items: center;

}

.line-vertical {
    width: 188px;
    height: 661px;
    border: 2px rgba(146, 58, 131, 0.246) solid;
    position: absolute;
    left: 216px;
    top: 0px;

}

.line-horisontal {
    width: 612px;
    height: 199px;
    border: 2px rgba(146, 58, 131, 0.275) solid;
    position: absolute;
    left: 0px;
    top: 234px;
}
.arrow-left:hover,.arrow-right:hover {
    cursor: pointer;

    transition: 0.5s;
    background-color: #f0f0f099;
    transform: scale(1.2);
    outline: 3px rgba(146, 58, 131, 0.271) solid;
}

.head-qimen {
    margin-bottom: 20px;
}

.qimen {
    margin: 40px;
}

.micro-grid div:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
} */













